<nav>
    <div class="nav">
        <a href="/">
            <h1>EasyFarm</h1>
            <p>An Online Market for Farmers.</p>
        </a>
    </div>
    <ul>
        <li>
            <a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/add">Add Produts</a></li>

    </ul>
</nav>