<html lang="en">
<%- include( './partials/head.ejs') %>

    <body>
        <%- include( './partials/nav.ejs') %>
            <div class="content">
                <h2>About Us</h2>
                <p>welcome to easyfarm</p>
                <p>Market your skills</p>
                <p>get products freshly</p>
            </div>

            <%- include( './partials/footer.ejs') %>
    </body>

</html>